body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

.card {
  margin-top: 60px;
}

input {
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 10px;
  background: #22c55e;
  color: white;
  border: none;
}
